# Ignore everything
*

# But not these files...
!.gitignore
!script.pl
!template.latex
# etc...

app/*
!app/src
app/src/*
!app/src/main
app/src/main/*
!app/src/main/java
app/src/main/java/*
!app/src/main/java/pl
app/src/main/java/pl/*
!app/src/main/java/pl/jawegiel
app/src/main/java/pl/jawegiel/*
!app/src/main/java/pl/jawegiel/endlessblow
app/src/main/java/pl/jawegiel/endlessblow/*
!app/src/main/java/pl/jawegiel/endlessblow/interfaces
app/src/main/java/pl/jawegiel/endlessblow/interfaces/*
!app/src/main/java/pl/jawegiel/endlessblow/interfaces/CredentialsContract.java
!app/src/main/java/pl/jawegiel/endlessblow/activities
app/src/main/java/pl/jawegiel/endlessblow/activities/*
!app/src/main/java/pl/jawegiel/endlessblow/activities/Credentials.java
!app/src/main/java/pl/jawegiel/endlessblow/presenter
app/src/main/java/pl/jawegiel/endlessblow/presenter/*
!app/src/main/java/pl/jawegiel/endlessblow/presenter/CredentialsPresenter.java
!app/src/main/java/pl/jawegiel/endlessblow/model
app/src/main/java/pl/jawegiel/endlessblow/model/*
!app/src/main/java/pl/jawegiel/endlessblow/model/SharedPreferencesModel.java
!app/src/main/java/pl/jawegiel/endlessblow/model/RestModel.java
